<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" >
<head>
    <meta charset="UTF-8">
    <title>Liste des événements</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px; /* Espace au-dessus */
        }
        .form-container {
            float: left;
            width: 45%;
            margin-right: 5%;
        }
        .table-container {
            float: left;
            width: 50%;
        }
        label {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div layout:fragment="content1">


<div class="container">
    <div class="form-container">
        <h2>Ajouter un événement</h2>
        <form  method="post" th:action="@{/saveEvent}" >
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text"  class="form-control" id="nom" name="name">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="datetime-local" class="form-control" id="date" name="date">
            </div>
            <div class="form-group">
                <label for="lieu">Lieu:</label>
                <input type="text" class="form-control" id="lieu" name="lieu">
            </div>
            <div class="form-group">
                <label for="lieu">Description :</label>
                <input type="text" class="form-control"  name="description">
            </div>
            <div class="form-group">
                <label for="lieu">prix :</label>
                <input type="number" class="form-control"  name="prix">
            </div>
            <div class="form-group">
                <label for="lieu">Organisateur :</label>
                <input type="text" class="form-control"  name="organisateur">
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>

    <div class="table-container">
        <h2>Liste des événements</h2>
        <table class="table">
            <!-- Header de la table -->
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Organisateur</th>
            </tr>
            </thead>
            <!-- Corps de la table (rempli par Thymeleaf) -->
            <tbody>
            <tr th:each="evenement : ${evenement}">
                <td th:text="${evenement.id}"></td>
                <td th:text="${evenement.name}"></td>
                <td th:text="${#temporals.format(evenement.date, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${evenement.lieu}"></td>
                <td th:text="${evenement.description}"></td>
                <td th:text="${evenement.prix}"></td>
                <td th:text="${evenement.organisateur}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

</body>
</html>